<div *ngIf="isLoading; else showContent">
  <div class="row">
    <div class="col h-100 d-flex align-items-center justify-content-center">
      <p>Loading Art Item</p>
    </div>
  </div>
  <div class="row">
    <div class="col h-100 d-flex align-items-center justify-content-center">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>  
</div>
  <ng-template #showContent>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <mat-card *ngIf="artObject" class="art-card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>
                <span *ngIf="artObject.artistDisplayName !== ''; else displayName">
                    {{ artObject.artistDisplayName }}
                </span>
                <ng-template #displayName>
                    No Name To Display
                </ng-template>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Artist Bio</th>
                    <td>{{ artObject.artistDisplayBio }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Artwork Name</th>
                    <td>{{ artObject.objectName }}</td>
                  </tr>
                </tbody>
              </table>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="openDialog(artObject)" mat-button>Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>